---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}
{% include base_path %}

## Journals

  1. Kim, M.J., **Choi, S.J.**, Lee, J.H. (2025). The Crisis of Industrial Cities and Industrial Patriarchy: A Focus on Special Industrial Crisis Response Regions. *Journal of the Korean Urban Geographical Society*, 28(2), 113-130. doi: 10.21189/JKUGS.28.2.8

  2. Won, M.S., Shim, J., **Choi, S.J.**, Lee, J.H. (2024). Development of Multi-Dimensional Mobility Indicators (MDMI) for Agent-based Travel Pattern Classification. *Journal of Korean Society of Transportation*, 42(6), 674-693. doi: 10.7470/jkst.2024.42.6.674

## Paper in Preparation

  1. Lee, J.H., **Choi, S.J.**, Debapriya Chakraborty, Scott Hardman, Gil Tal. (2026). Household sharing of electric vehicles and the influence on electric miles travelled. *Humanities and Social Sciences Communications*. (Under Review)
